{% extends "template.html" %}
{% block content %}
			<article>
				<h1>About Mopiz</h1>
				<p>
					Mopiz is mainly a personal blog centered around technology.
					I like to write about tech news, code, as well as editorials, and
					anything I find interesting. If you have any questions, comments, or
					would like to send feedback, feel free to
					<a href="/contact">contact me</a>.
				</p>
				<p>
					If you enjoyed the content, you can help keep the site
					running by donating.
				</p>
				<p>
					Bitcoin Address: <pre>1PFyvoRFn6gVy4aGy6tLoBxYFvWSpU9J8Y</pre>
				</p>
			</article>
{% endblock %}