{% extends "template.html" %}
{% block content %}
            <article>
                <h1>Contact</h1>
                <p>
                    If you have any questions, comments, or feedback, you can email
                    <a href="mailto:admin@mopiz.com">admin@mopiz.com</a>.
                    If you find a security flaw in the site, or if you need to send anything encrypted here is my <a href="https://www.mopiz.com/public-key.txt"> gpg key (3D936530)</a>.
                    The key's fingerprint is: <code>E77F 10A0 99DA F2D5 2F3B  1742 AAF6 6C06 3D93 6530</code>
                </p>
            </article>
{% endblock %}