<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	{% if title %}
	<title>{{ title }} | Mopiz - Everything Tech</title>
	{% else %}
	<title>Mopiz - Everything Tech</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/forms-min.css"/>
	<link rel="icon" type="image/png" href="/assets/images/favicon.png"/>
	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"/>
</head>
<body>
	<div class="content">
		<header id="main-header">
			<div id="logo">
				<a href="/">
					<h1>Mopiz</h1>
				</a>
			</div>
			<div id="search">
				<form action="{{ url_for('search') }}" method="get">
					<div class="search-container">
						<input type="search" name="q" id="search-box" placeholder="SEARCH MOPIZ"/>
						<input type="submit" value="">
					</div>
				</form>
			</div>
		</header>
		<nav id="main-nav">
			<ul class="unstyled-list">
				<li><a href="/">Home</a></li>
				<li><a href="/tag">Tags</a></li>
				<li><a href="/archive/">Archive</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<div class="main-content">
		{% if error %}
		<span style="color: red">{{ error }}</span>
		{% endif %}
		{% block content %}
		{% endblock %}
		</div>
		<div class="archive-container">
			<div class="archive-link">
				<a href="{{ url_for('archive') }}">Older Articles</a>
			</div>
		</div>
		<footer id="main-footer">
			<nav id="footer-nav" class="footer-links">
				<a href="/">Home</a> |
                <a href="/tag">Tags</a> |
				<a href="/archive">Archive</a> |
				<a href="/contact">Contact</a> |
				<a href="/about">About</a> |
			</nav>
			<p>
				Copyright &copy; 2016 Mopiz. All rights reserved. All trademarks and copyrights are property of their respective owners in the US and other countries.
			</p>
		</footer>
	</div>
</body>
</html>
